

#Ignore windsurf AI rules
.windsurfrules
*.env
*node_modules
/node_modules
*pnpm-lock
*.codacy
/.codacy
*pnpm-lock.yaml
/pnpm-lock.yaml
/pnpm-workspace.yaml
*pnpm-workspace.yaml



#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
